<section id="section-start">
    <div class="section-container"
       fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="center center" fxLayout.lt-md="column-reverse" fxLayoutAlign.lt-md="center start"
       >
       <div id="section-start-text" fxLayout="column" fxLayoutAlign="start start" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutAlign.lt-md="center center">
          <h1 class="big-title">
             More than just shorter links 
          </h1>
          <div class="text">
             <p>Build your brand's recognition and get detailed insights on how links are performing.</p>
          </div>
          <button class="button button-round" style="margin: 50px 0;">Get Started</button>
       </div>
       <div id="section-start-img" fxLayout="row" fxFlex="50%" fxLayoutAlign="start start"   fxFlex.lt-md="80%">
          <object type="image/svg+xml" data="../assets/images/illustration-working.svg" alt="Facebook"></object>
       </div>
    </div>
 </section>

 <app-section-shorten></app-section-shorten>

 <section id="section-advanced">
    <div class="section-container" fxLayout="column" fxLayoutAlign="center center">
       
        <div class="text" fxLayout="column" fxLayoutAlign="center center">
          <h2>Advanced Statistcs</h2>
          <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
       </div>

       <div class="card-list" fxLayoutGap="50px" fxLayoutGap.lt-lg="100px" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-lg="column">

            <div id="cyan-line"></div>

           <div class="card card1">                
                <div class="card-img" fxLayoutAlign="center center">
                    <img src="../assets/images/icon-brand-recognition.svg" alt="Brand Recognition">
                </div>
                <h3>Brand Recognition</h3>            
                <p>Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content.</p>
           </div>

           <div class="card card2">                
                <div class="card-img" fxLayoutAlign="center center">
                    <img src="../assets/images/icon-detailed-records.svg" alt="Details Records">
                </div>
                <h3>Details Records</h3>            
                <p>Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
            </div>

            <div class="card card3">                
                <div class="card-img" fxLayoutAlign="center center">
                    <img src="../assets/images/icon-fully-customizable.svg" alt="Fully Customizable">
                </div>
                <h3>Fully Customizable</h3>            
                <p>Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
            </div>
           
       </div>
       
    </div>
 </section>

 <section id="section-boost">
    <div class="section-container" fxLayout="column" fxLayoutAlign="center center">
       <h2>Boost your links today</h2>
       <button class="button button-round" style="margin: 20px 0;">Get Started</button>
    </div>
 </section>