#main-toolbar{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--toolbar-height) !important;
    background-color: var(--White);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-toolbar-container {
    width: 1240px;
    min-width: 335px;
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main-title{
    font-size: 28px;
    font-weight: 700;
    color: var(--VeryDarkViolet);
    cursor: pointer;
}

#main-nav {
    margin: 50px;
}

#main-toolbar a {
    color: var(--GrayishViolet);
    font-weight: 500;
    margin-right: 30px;
}

#main-toolbar a:hover {
    color: var(--VeryDarkViolet);
}

#main-toolbar-left, #main-nav, #main-toolbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {

}

#router-container {
    margin-top: var(--toolbar-height);
    min-height: 80vh;
}

#main-footer{
    background-color: var(--VeryDarkViolet);
    width: 100%;
    padding: 30px;
    color: var(--White);

    display: flex;
    justify-content: center;
    align-items: center;
}
/* fxLayout="row" fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center"*/
#main-footer-container {
    width: 1240px;
    min-width: 335px;
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
/* fxLayoutGap="80px" fxLayout="row" fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" */
#main-footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;    
}

.main-footer-links-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;   
    margin-right: 50px; 
}

#main-footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;  
}

#main-footer h2 {
    margin-bottom: 50px;
    cursor: pointer;
    text-align: center;
}

#main-footer h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
}

#main-footer a{
    color: var(--White);
    margin: 10px 0;
}

#main-footer a:hover {
    color: var(--Cyan);
}

#main-footer a:hover {
    filter: invert(39%) sepia(86%) saturate(564%) hue-rotate(134deg) brightness(85%) contrast(90%);
} 

@media (max-width: 960px) {
    #main-footer-container, #main-footer-links, .main-footer-links-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-footer-links-column {
        margin: 0 0 50px;
    }
}