<div id="main-toolbar" fxLayout="row" fxLayoutAlign="center center">
  <div class="main-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div id="main-toolbar-left" fxLayout="row" fxLayoutAlign="space-between center">
      <div id="main-title"  href="/">Shortly</div>
      <div id="main-nav" fxLayout="row" fxLayoutAlign="space-between center">
        <a class="main-nav-button" href="/">Features</a>
        <a class="main-nav-button" href="/">Pricing</a>
        <a class="main-nav-button" href="/">Resources</a>
      </div>
    </div>

    <div id="main-toolbar-right" fxLayout="row" fxLayoutAlign="space-between center">
      <a class="main-nav-button" href="">Login</a>
      <button class="button button-round button-small">Sign up</button>
    </div> 
  </div>
</div>

<div id="router-container">
  <router-outlet></router-outlet>
</div>


<footer id="main-footer" fxLayoutAlign="center center" >
  <div class="main-container" fxLayout="row" fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
    <h2>Shortly</h2>

    <div fxLayoutGap="80px" fxLayout="row" fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
      
      <div fxLayout="column" fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
        <h3 href="/" >Features</h3>
        <a href="/">Link Shortening</a>
        <a href="/">Branded Links</a>
        <a href="/">Analytics</a>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
        <h3>Resources</h3>
        <a href="/">Blog</a>
        <a href="/">Developers</a>
        <a href="/">Support</a>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
        <h3>Company</h3>
        <a href="/">About</a>
        <a href="/">Our Team</a>
        <a href="/">Careers</a>
        <a href="/">Contact</a>
      </div>
      
      <div fxLayoutGap="30px" fxLayout="row" fxLayoutAlign="space-araound center">
        <a href="/"><img src="../assets/images/icon-facebook.svg" class="filter-color" alt="Facebook"></a>
        <a href="/"><img src="../assets/images/icon-twitter.svg" alt="Twitter"></a>
        <a href="/"><img src="../assets/images/icon-pinterest.svg" alt="Pinterest"></a>
        <a href="/"><img src="../assets/images/icon-instagram.svg" alt="Instagram"></a>
      </div>

    </div>
  </div>
  
</footer>
