<div id="main-toolbar">
  <div id="main-toolbar-container">
    <div id="main-toolbar-left">
      <div id="main-title"  href="/">Shortly</div>
      <div id="main-nav">
        <a class="main-nav-button" href="/">Features</a>
        <a class="main-nav-button" href="/">Pricing</a>
        <a class="main-nav-button" href="/">Resources</a>
      </div>
    </div>

    <div id="main-toolbar-right">
      <a class="main-nav-button" href="">Login</a>
      <button class="button button-round button-small">Sign up</button>
    </div> 
  </div>
</div>

<div id="router-container">
  <router-outlet></router-outlet>
</div>


<footer id="main-footer">
  <div id="main-footer-container" >
    <h2>Shortly</h2>

    <div id="main-footer-links">
      
      <div class="main-footer-links-column">
        <h3 href="/" >Features</h3>
        <a href="/">Link Shortening</a>
        <a href="/">Branded Links</a>
        <a href="/">Analytics</a>
      </div>

      <div class="main-footer-links-column">
        <h3>Resources</h3>
        <a href="/">Blog</a>
        <a href="/">Developers</a>
        <a href="/">Support</a>
      </div>

      <div class="main-footer-links-column">
        <h3>Company</h3>
        <a href="/">About</a>
        <a href="/">Our Team</a>
        <a href="/">Careers</a>
        <a href="/">Contact</a>
      </div>
      
      <div fxLayoutGap="30px" fxLayout="row" fxLayoutAlign="space-araound center">
        <a href="/"><object type="image/svg+xml" data="../assets/images/icon-facebook.svg"alt="Facebook"></object></a>
        <a href="/"><object type="image/svg+xml" data="../assets/images/icon-twitter.svg" alt="Twitter"></object></a>
        <a href="/"><object type="image/svg+xml" data="../assets/images/icon-pinterest.svg" alt="Pinterest"></object></a>
        <a href="/"><object type="image/svg+xml" data="../assets/images/icon-instagram.svg" alt="Instagram"></object></a>
      </div>

    </div>
  </div>
  
</footer>
