<section id="section-shorten">
    <div class="section-container" >

        <div id="section-shorten-input">
            <div id="section-shorten-input-block">
                <input placeholder="Shorten a link here..." [(ngModel)]="inputValue" >
                <span id="section-shorten-input-error">Please add a link</span>
            </div>
            <button type="submit" class="button button-square" (click)="shortenIt()">Shorten it!</button>
        </div>
        <div id="shorten-link-list" *ngIf="!shortenList">Loading...</div>
        <div id="shorten-link-list" *ngIf="shortenList">
            <div class="shorten-link-line dont-break-out" *ngFor="let shortens of shortenList">
                <a class="link-original">{{shortens.original}}</a>
                <div>
                    <a class="link-shorten">{{shortens.short}}</a>
                    <button class="button button-square button-small">Copy</button>
                </div>
            </div>       
        </div>
        
    </div>
</section>
